@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";
@import "../../assets/styles/normalize";
@import "../../assets//styles/themes";

@mixin buttonStyles($background, $color, $border, $borderRadius) {
  font-family: $font-family;
  font-weight: 500;
  @include color($background, $color);

  border: $border;
  border-radius: $borderRadius;
  min-width: 80px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
    transition: all 400ms;
  }
  &:disabled {
    cursor: no-drop;
    &:hover {
      background-color: rgba(192, 192, 192, 0.9);
    }
  }
}

.button {
  &--primary {
    @include buttonStyles(var(--color-primary), $white, none, 4px);
  }
  &--secondary {
    @include buttonStyles($secondary, $dark, none, 4px);
  }
  &--outline {
    @include buttonStyles(
      var(--color-background),
      var(--color-text-primary),
      1px solid var(--color-text-primary),
      0
    );
    &:hover {
      background-color: var(--color-text-primary);
      color: var(--color-background);
    }
  }
  &--addquestion {
    @include buttonStyles($dark-light-2, $white, none, 4px);
  }
  &--danger {
    @include buttonStyles($danger, $white, none, 4px);
  }
  &--duplicate {
    @include buttonStyles($duplicate, $white, none, 4px);
  }

  &--sm {
    padding: $spacing-00-50 $spacing-01;
    @include font-size-m;
  }
  &--md {
    padding: $spacing-00-50 $spacing-01;
    @include font-size-m;
    min-width: 120px;
  }
  &--lg {
    padding: $spacing-00-50 $spacing-01;
    @include buttonStyles(
      var(--color-text-primary),
      var(--color-background),
      none,
      0
    );
    @include font-size-l;
    min-width: 250px;
  }
}
