@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';
@import '../../assets/styles/normalize';

@mixin phone-styling($marginLeft) {
  .template {
    &__main {
      overflow-y: auto;
    }
    &__toolbar {
      width: 100%;
    }
    &__questions {
      width: 100%;
    }
    &__button {
      &--add {
        display: none;
        &-mobile {
          display: block;
          position: fixed;
          bottom: 3px;
          left: $marginLeft;
        }
      }
    }
  }
}

.template {
  &__main {
    overflow-y: hidden;
    display: flex;
    position: relative;
    flex-direction: row;
    background: var(--color-background);
    height: calc(100vh - 80px);
  }
  &__theme {
    width: 49%;
  }
  &__questions {
    width: 100%;
    overflow-y: scroll;
    &--settings {
      width: 60%;
    }
  }
  &__toolbar {
    width: 50%;
    height: 100%;
    &--settings {
      width: 60%;
    }
  }
  &__preview {
    margin: 0;
    display: block;
    position: relative;
    width: 50%;
    &--settings {
      width: 40%;
    }
  }
  &__container {
    display: flex;
    width: 100%;
  }
  &__button {
    &--add {
      position: relative;
      display: block;
      width: 50%;
      margin: $spacing-02 0 0 $spacing-01;
      &-mobile {
        display: none;
      }
    }
  }
}

@include for-tablet-portrait-down {
  .template__preview {
    display: none;
  }
}

@include for-phone {
  @include phone-styling(25%);
}

@media (min-width: 321px) and (max-width: 599px) {
  @include phone-styling(30%);
}

@include for-tablet-portait {
  @include phone-styling(35%);
}
