@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";
@import "../../assets/styles/normalize";

.panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
  @include color(var(--color-background-secondary), var(--color-text-primary));
  max-width: 100%;
  &__header {
    padding: $spacing-01-50;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.07);
  }
  &__button {
    display: none;
    @include for-phone {
      height: 100%;
      padding-bottom: 20%;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      &--left {
        margin-right: 10px;
      }
    }
  }
  &__content {
    padding: 0 $spacing-01 $spacing-02 $spacing-01;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  text-transform: uppercase;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  width: 25px;
  height: 25px;
  color: $grey-light;
  cursor: pointer;
  &--close {
    &::after {
      content: "\00D7"; // here is X(cross) sign.
      font-size: 20px;
    }
  }
  &--up {
    &::after {
      content: "\22C0";
      font-size: 18px;
    }
  }
  &--down {
    &::after {
      content: "\022C1";
      font-size: 18px;
    }
  }
  &:hover {
    @include color($grey-light-2, $dark);
  }
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  &--desktop {
    @include for-phone {
      display: none;
    }
  }
}

@include for-phone {
  .panel {
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    width: 100%;
    &__button {
      height: 100%;
      padding-bottom: 20%;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      &--left {
        margin-right: 10px;
      }
    }
  }
}
@include for-tablet-portait {
  .panel {
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    width: 100%;
    &__button {
      height: 100%;
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      &--left {
        margin-right: 10px;
      }
    }
  }
}
