@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";
@import "../../assets/styles/normalize";

.design__panel {
  padding: 0;
  position: relative;
  width: 100%;
  max-height: 88vh;
  // height: calc(100vh-80px);
  // height: -o-calc(100vh - 80px); /* opera */
  // height: -webkit-calc(100vh - 80px); /* google, safari */
  // height: -moz-calc(100vh - 80px); /* firefox */
  overflow-y: scroll;
  background: transparent;

  .theme__tabs {
    margin: $spacing-01-50;
  }

  .theme__card {
    margin: $spacing-01-50;
    float: left;
  }

  .theme__container {
    max-height: 88vh;
    overflow-y: scroll;
  }

  .theme__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .save__button {
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    background: var(--color-text-primary);
    color: var(--color-background);
  }
}

h2 {
  margin: $spacing-01-50;
  color: var(--color-text-primary);
}
