.social__login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    display: flex;
    justify-content: center;
    opacity: 1 !important;
  }
  a {
    margin-bottom: 20px;
    text-decoration: none;
  }
}

.facebook__login {
  display: flex;
  justify-content: center;
  width: 255px;
  height: 40px;
  border-radius: 4px;
  background-color: rgba($color: #3b5998, $alpha: 1);
  color: white;
  cursor: pointer;

  i {
    margin-right: 40px;
  }

  &:hover {
    background-color: rgba($color: #3b5998, $alpha: 0.5);
  }
}
.google__login {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 255px;
  height: 40px;
  border-radius: 4px;
  background-color: rgba($color: #e33f2c, $alpha: 1);
  color: white;
  cursor: pointer;

  i {
    margin-left: 20px;
    margin-right: 35px;
  }

  &:hover {
    background-color: rgba($color: #e33f2c, $alpha: 0.5);
  }
}
