@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";
@import "../../assets/styles/normalize";

.dropdown__card {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 2px 12px rgba(0, 0, 0, 0.06);
  @include color(var(--color-background-secondary), var(--color-text-primary));
  padding: $spacing-00-50 0;
  z-index: 22;
  width: 150px;

  &__link {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    padding: $spacing-00-50 $spacing-01-50;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:last-of-type {
      color: $danger;
      :hover {
        color: $danger;
      }
    }

    &:hover {
      background-color: var(--color-text-secondary);
    }
    span:hover {
      color: var(--color-background-secondary);
    }
  }

  &--children {
    padding: $spacing-00-50 $spacing-01-50;
    cursor: pointer;
    color: var(--color-text-primary);
    text-decoration: none;
    text-transform: none;
  }
}
