@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";
@import "../../assets/styles/normalize";

@mixin question-phone-style($top, $left) {
  .question {
    &:hover {
      .button__icon--add {
        display: none;
      }
    }
    &__container {
      min-width: 0;
    }
    .button__icon--add {
      display: none;
    }
    &__body {
      width: 100%;
    }
    &--required {
      top: $top;
      left: $left;
    }
  }
  .button {
    &--mobile {
      display: none;
    }
    &__icon--add {
      display: none;
    }
  }
}

.question__container {
  display: flex;
  width: 100%;
}

.question {
  position: relative;
  padding: $spacing-01-50;
  display: flex;
  width: 100%;
  font-family: $font-family;
  &:hover {
    background-color: $grey-light-3 !important;
    .button__icon--add {
      opacity: 1;
    }
  }
  &:focus {
    outline: none;
    background-color: #fafafa;
    .button__icon--add {
      opacity: 1;
    }
  }
  &__body {
    padding-left: $spacing-01;
    width: 80%;
  }
  &__icon {
    width: 20px;
    height: 20px;
    margin-right: $spacing-01;
  }
  &__type {
    display: flex;
    background-color: #4fa9b3;
    height: 20px;
    align-items: center;
    padding: 0 $spacing-00-50;
    border-radius: 5px;
    &:focus {
      border: 0;
      outline: none;
    }
    &--shortText {
      background-color: #ffba49;
    }
    &--longText {
      background-color: #e26d5a;
    }
    &--phonenumber {
      background-color: #3fc46a;
    }
    &--mulChoice {
      background-color: #4fa9b3;
    }
    &--picChoice {
      background-color: #a086c4;
    }
    &--statement {
      background-color: #94ae89;
    }
    &--email {
      background-color: #3a7685;
    }
    &--rating {
      background-color: #f3cd59;
    }
    &--link {
      background-color: #bac26c;
    }
    &--number {
      background-color: #e04f78;
    }
    &--file {
      background-color: #3c6997;
    }
    &--date {
      background-color: #f09f97;
    }
    &--YesNo {
      background-color: #bf395b;
    }
    &--dropDown {
      background-color: #58457a;
    }
    &--opinion {
      background-color: #74a4bf;
    }
    &--icon {
      width: 20px;
      height: 20px;
      margin-right: $spacing-01;
    }
  }
  &__text {
    display: block;
    outline: none;
    border: 0;
    background: transparent;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
    cursor: pointer;
    &:empty:before {
      content: attr(data-placeholder);
      color: $grey-light;
    }
    &:focus {
      display: block;
      outline: none;
      border: 0;
    }
    &--description {
      outline: none;
      border: 0;
      background: transparent;
      color: #898989;
      resize: none;
      cursor: pointer;
      margin-top: $spacing-01;
      @include font-size-s;
      &:focus {
        display: block;
        outline: none;
        border: 0;
      }
      &:empty:before {
        content: attr(data-placeholder);
        color: $grey-light-1;
      }
    }
  }
  &__choices {
    list-style-type: none;
    &--picture {
      display: flex;
    }
  }
  &__choice {
    &::before {
      content: "-";
      margin-right: 6px;
    }
    cursor: pointer;
    display: flex;
    margin: $spacing-00-25 $spacing-00-50 $spacing-00-50 $spacing-00-50;
  }

  &__input {
    outline: 0;
    border: 0;
    background: transparent;
  }

  &__number {
    color: $light;
  }

  &__picture {
    cursor: default;
    display: inline-block;
    border-radius: 4px;
    height: 25px;
    display: flex;
    border: 1px solid rgb(198, 182, 220);
    background-color: rgb(236, 231, 243);
    text-align: center;
    &--filler {
      width: 25px;
      height: 100%;
      background-color: #a086c4;
    }
  }

  &__buttons {
    position: relative;
    margin-top: $spacing-02;
    display: flex;
    justify-content: flex-end;
    .button__icon {
      width: 30px;
      transition: 0.4s;
      &:hover {
        background-color: $grey-light-1;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
    &--close {
      background-color: transparent;
      border: none;
      cursor: pointer;
      &::after {
        content: "\00D7";
        font-size: 20px;
        color: #a086c4;
      }
    }
    &--add {
      background-color: transparent;
      border: none;
      cursor: pointer;
      &::after {
        content: "+";
        font-size: 20px;
        color: #a086c4;
      }
      &:focus {
        outline: none;
      }
    }
  }

  &--required {
    position: absolute;
    z-index: 1;
    top: 7%;
    left: 1%;
    color: #d95767;
    display: block;
  }
  .button {
    &__icon--add {
      display: block;
      position: absolute;
      left: 3%;
      bottom: 3%;
      opacity: 0;
    }
    &__icon--add-show {
      opacity: 1;
    }
  }
}

@include for-small-phone-fixed {
  @include question-phone-style(4%, 1%);
}
@include for-small-phone {
  @include question-phone-style(3%, 1%);
}
@include for-phone {
  .question {
    &--required {
      top: 4%;
    }
    &:hover {
      .button__icon--add {
        display: none;
      }
    }
    .button {
      &__icon--add {
        display: none;
      }
    }
  }
}

@media (min-width: 321px) and (max-width: 599px) {
  .question {
    &--required {
      top: 3%;
    }
    &:hover {
      .button__icon--add {
        display: none;
      }
    }
    .button {
      &__icon--add {
        display: none;
      }
    }
  }
}

@include for-tablet-portait {
  .question {
    &--required {
      top: 1.75%;
    }
    &:hover {
      .button__icon--add {
        display: none;
      }
    }
    .button {
      &__icon--add {
        display: none;
      }
    }
  }
}
