@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";
@import "../../assets/styles/normalize";

.resetpassword {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-y: auto;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
  }
}

.resetpassword__form {
  position: relative;
  width: 356px;
  margin: 0 auto;
  padding-bottom: $spacing-01-50;

  .form__title {
    text-align: center;
    margin: $spacing-02 0 $spacing-02-50;
  }

  .form__inputs {
    width: 356px;
    margin-top: 0;
  }

  input[variant="primary"] {
    margin-bottom: $spacing-01;
  }
}

.resetpassword__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $spacing-01-50;
}

@include for-tablet-portrait-down {
  .resetpassword__logo {
    height: 80px;
  }
  .resetpassword__form {
    width: 256px;
    .form__inputs {
      width: 256px;
    }
  }
}
